[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"
robotframework-seleniumlibrary = "*"
robotframework-lint = "*"
webdrivermanager = "*"
robotframework-requests = "*"
robotframework-faker = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.9"
